package config


const DBHost = "127.0.0.1"
const DBName = "dbname"
const DBPassword = "123456"
const DBUser = "root"
const DBPort = 3306
const RedisAddr = "127.0.0.1:6379"
const RedisPassword = "redis-password"
const RedisDBIndex = 0
const JwtSignSecret = "jwt-jwt"
const AppName = "app-name"
const RedisKeyPrefix = "iot:"
const AppPort = ":4444"